<!doctype html>
<html lang="en" ng-app="LunchCheck">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller="LunchController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             ng-model="text_value"
             ng-focus ="clearTextbox()"
             placeholder={{text_value}}
             class="form-control">
         </div>
         {{message}}
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkNumItems()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
         </div>
   </div>

</body>
</html>
